{% extends 'base.html.twig' %}

{% block title %} Articles List {% endblock %}
{% block body %}
    <div class="container">
        <form method="post" action="{{ save }}" class="article__edit-form">
            <input type="hidden" name="id" value="{{ article.id }}">
            <div class="form-item">
                <label for="title">Title</label>
                <input name="title" type="text" value="{{ article.title }}">
            </div>
            <div class="form-item">
                <label for="text">Title</label>
                <textarea name="text" cols="70" rows="10">{{ article.text }}</textarea>
            </div>

            <button type="submit" class="btn btn-dark">Save</button>
        </form>
    </div>
{% endblock %}

